:root {
  --bg-body: #fafafa;
  --bg-header: #466173;
  --bg-footer: #273b47;

  --btn-gradient: #fd324e;
  --btn-gradient-start: color(var(--btn-gradient) blackness(25%));
  --btn-gradient-end: color(var(--btn-gradient) lightness(+10%) hue(15%));

  --fontSize: 18px;
}

/*Custom Media Queries */
@custom-media --mobile (max-width: 500px);
@custom-media --table (max-width: 650px);
@custom-media --desktop (max-width: 800px);
@custom-media --retina (-webkit-min-device-pixel-ratio: 2);

/*Mixins */
@define-mixin btn $textColor, $bgColor, $bgColorStart, $bgColorEnd {
    border-radius: 12px;
    border: none;
    color: $(textColor);
    padding: 7px 12px;
    cursor: pointer;
    font-size: var(--fontSize);
    text-decoration: none;
    background: $(bgColor);
    background: linear-gradient(to left, $(bgColorStart), $(bgColorEnd));
}



.InvieHero {
  padding: 20px;
  height: 500px;
  background: url("../images/background.png")  var(--bg-header);

  @media (--retina) {
    background-image: url("../images/background2x.png");
  }

  &-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &-logo {
    transition: all .3s ease-in;
    &:hover {
      filter: blur(2px);
    }
  }

  &-copy {
    &-title {
      font-size: calc(var(--fontSize) * 3.5);
    }

    &-btn {
      @mixin btn var(--bg-body), var(--btn-gradient), var(--btn-gradient-start), var(--btn-gradient-end);
    }
  }
}

.InvieFooter {
  background-color: var(--bg-footer);
  &-form {
    &-btn {
      @mixin btn var(--bg-body), var(--btn-gradient), var(--btn-gradient-start), var(--btn-gradient-end);
    }
  }
}